.timer-container {
    height: 400px;
    width: 400px;
    background-color: aqua;
    padding: 20PX;
    border-radius: 9px;
}
.timer-display {
    font-size: 30px;
    color: white;
    width: auto;
}
.image {
    margin-top: 40px;
    margin-left: 100PX;
    border-radius: 8px;
}
.user-input {
    margin-left: 50px;
    height: 40px;
    width: 300px;
   border-radius: 8px;
    border-color: aqua;
    border-style: solid;
    color: rgb(30, 75, 224);
    font-size: 20px;
   font-weight: bold;
   text-align: center;
    
}
.timer-display {
    text-align: center;
    color: rgb(205, 18, 18)
}